body {
	padding: 0;
	margin: 12%;
	font-family: 'Montserrat', normal;
	color: 000;
	font-size: 16px;
	background: linear-gradient(180deg, #A0F3C1 0%, #2ED771 100%);
}

body a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	margin-top: 5%;
}

ul, li {
	display: block;
	padding: 0px;
}

.container {
	width: auto;
	margin: 0, auto; /*позиционирование по центру*/
	margin-top: -13%;
}


header a {
	color: black;
}

.menu {
	display: flex;
}

.menu li a {
	text-decoration: none;
	font-weight: normal;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

.logo {
	margin-left: 38px;
	font-size: Montserrat;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
}

.picture-logo{
	padding: 1%;
	background: #9EFF00;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 100px;
}

.menu li {
	margin-right: 41px;

}

.nav {
	display: flex;
	align-items: center;
	padding-top: 52px;
	padding-right: 0;
	margin-right: auto;
}

.menu {
	margin-left: auto;
}


.about{
	display: flex;
	padding: -300px;
	
}

.h2-main{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-size: 60px;
	line-height: 73px;
	color: #000000;
	margin-top: 15%;
}

/*.blure {
	background: #FFFFFF;
	filter: blur(5px);
	box-shadow: 0% 2% 2% rgba(0, 0, 0, 0.25);
	border-radius: 200px;
}*/

.right-picture{
	margin-left: auto;
}

.text{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 37px;
}

.discriprion{
	margin-top: 8%;
	width: 55%;
}

button a {
	font-family: 'Montserrat';
	font-style: normal;
	font: sans-serif;
	ont-weight: 700;
	font-size: 25px;
	line-height: 30px;
}

button {
	margin-top: 8%;
	background: linear-gradient(96.19deg, #CBFE76 13.59%, #9EFF00 85.29%);
	border-radius: 20px;
	width: 312px;
	height: 75px;
}

.shelves {
	margin-top: 10%;
}

.shelve {
	display: flex;
	overflow-x: auto;
}

.card {
	background: #FFFFFF;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	padding: 2%;
	margin: 3%;
}

.back-img {
	width: 192px;
	height: 213px;
	background: #EBEBEB;
	border-radius: 20px;
}

.img {
	display: block;
  	margin: auto;
}

h3, h4 {
	margin-top: 10%;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;

}

.about-company{
	margin-top: 10%;
}

.main-table {
	padding: 0;
}

.first-line{
	display: flex;
}
.second-line{
	display: flex;
}
.third-line{
	display: flex;
	width: 90%;
	margin-left: 25%;
}

.table{
	padding-top: 35px;
	padding-left: 6%;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	margin-top: 5%;
	width: 35%;
	height: 170px;
	background: linear-gradient(94.75deg, #CBFE76 0%, #9EFF00 100%);
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	margin-right: auto;
	
}

.table-name{
	display: block;
	margin: auto;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}

.table-text{
	margin-top: 15px;
	display: block;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	width: 60%;
}

footer {
	display: flex;
	margin-top: 15%;
}

.footer-right{
	margin-left: auto;
}

.footer-left{
	padding-top: 5%;
}

.line-foot {
	margin-top: 15%;
	display: flex;
}

.foot-content{
	margin-top: 15%;
}

.foot-text{
	font-weight: normal;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	margin-left: 5%;
}

footer a{
	text-decoration: none;
	font-weight: normal;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	color: #000;
	margin-left: 5%;
}

.foot-name{
	margin-top: 20%;
}